Flask==3.0.2
pandas==2.2.1
requests==2.31.0
python-dotenv==1.0.1
geopy==2.4.1
gunicorn==21.2.0
Werkzeug==3.0.1
datasets==2.18.0
numpy==1.26.4
shapely==2.0.3
gtfs-realtime-bindings==1.0.0
google-generativeai==0.3.2 