{% extends 'base.html' %}

{% block title %}PubliScore - Team{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h1 class="mb-4">The Null Pointers</h1>
        
        <div class="card mb-4">
            <div class="card-body">
                <p class="lead text-center mb-5">
                    Meet the team behind PubliScore - dedicated to improving urban mobility through data
                </p>
                
            <div class="team-images-wrapper">
                <div class="slide left-shift">
                    <img src="../static/img/teodor.jpg" alt="Teodor Trotea">
                    <div class="code-block">
                        <code>
                            <span class="keyword">const</span> profile = &#123;<br>
                            <span class="property">name</span>: <span class="value">"Teodor Trotea"</span>,<br>
                            <span class="property">occupation</span>: <span class="value">"Student"</span>,<br>
                            <span class="property">interests</span>: [<span class="value">"Technology"</span>, <span class="value">"Robotics"</span>, <span class="value">"Data"</span>],<br>
                            <span class="property">motto</span>: <span class="value">"Creating solutions for problems most won't notice."</span><br>
                            &#125;;
                        </code>
                    </div>
                </div>   

                <div class="slide right-shift">
                    <img src="../static/img/eugen.jpg" alt="Eugen Donescu">
                    <div class="code-block">
                        <code>
                            <span class="keyword">const</span> profile = &#123;<br>
                            <span class="property">name</span>: <span class="value">"Eugen Donescu"</span>,<br>
                            <span class="property">occupation</span>: <span class="value">"Student"</span>,<br>
                            <span class="property">skills</span>: [<span class="value">"IT Experience"</span>, <span class="value">"Development"</span>],<br>
                            <span class="property">motto</span>: <span class="value">"Apply, don't theorize"</span><br>
                            &#125;;
                        </code>
                    </div>
                </div>

                <div class="slide left-shift">
                    <img src="../static/img/alex.jpg" alt="Alexander Sorodoc">
                    <div class="code-block">
                        <code>
                            <span class="keyword">const</span> profile = &#123;<br>
                            <span class="property">name</span>: <span class="value">"Alexander"</span>,<br>
                            <span class="property">occupation</span>: <span class="value">"Student"</span>,<br>
                            <span class="property">skills</span>: [<span class="value">"Design"</span>, <span class="value">"Frontend"</span>],<br>
                            <span class="property">motto</span>: <span class="value">"If you start something, see it through."</span><br>
                            &#125;;
                        </code>
                    </div>
                </div>
            </div>

        
            </div>
        </div>
        
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Project Inspiration</h2>
                <p>
                    PubliScore was developed as most ideas are made.. out of pure necessity. As a team of young developers,
                    you are often faced with the dilemma of transport. As many of us in Belgium find themselves to be expats, 
                    we aimed to developed PubliScore in hopes of helping those in need of finding just the right location for them to move into.
                    Whether you're an international student looking to come to Belgium or a family concious of the impact our
                    modes of transport have on the environment, PubliScore is for you.
                </p>
                <p>
                    Using open data from OpenStreetMap, we developed an algorithm that can provide an accessibility
                    score for any location in Antwerp, helping residents make more informed housing decisions that
                    support sustainable transportation choices.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %} 